body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.ReactTable .rt-thead {
    overflow: hidden;
    /*background-color: rgb(173, 191, 195);*/

}

.ReactTable .-headerGroups {
    overflow-scrolling: auto;
    background-color: rgb(49, 122, 129) !important;
    /*font-weight:bold ;*/
    
    height: 40px;
}

.ReactTable .rt-tr-group {
    overflow: hidden;
    /*background-color: rgb(219, 238, 242) !important;*/
}


.ReactTable .pagination-bottom {
    overflow: hidden;
    /*background-color: #eaeffe !important;*/
}

.ReactTable .rt-th{
    /*background-color: #eaeffe !important;*/
    margin-top: 7px;
}