body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.ReactTable .rt-table {
    overflow: hidden;
}

.ReactTable .rt-thead,
.ReactTable .rt-tbody {
    min-width: auto !important;
}

.ReactTable .rt-thead {
    overflow-x: hidden;
    overflow-y: auto;
}
